{% extends 'base.html' %}

{% block title %}Weight Converter{% endblock %}

{% block content %}
<div id='weight' class='form active'>
    <form method="POST" action="{{ url_for('convert') }}">
        <input type="hidden" name="category" value="weight">
        <div class="section">
            <label>Enter the weight to convert</label>
            <div class="input-container">
                <input type="number" name="value" placeholder="Value" required />
            </div>
        </div>
        <div class="section">
            <label>Unit to convert from</label>
            <div class="input-container">
                <select name="from_unit" required>
                    <option value="gram">Gram</option>
                    <option value="kilogram">Kilogram</option>
                    <option value="milligram">Milligram</option>
                    <option value="ounce">Ounce</option>
                    <option value="pound">Pound</option>
                </select>
            </div>
        </div>
        <div class="section">
            <label>Unit to convert to</label>
            <div class="input-container">
                <select name="to_unit" required>
                    <option value="gram">Gram</option>
                    <option value="kilogram">Kilogram</option>
                    <option value="milligram">Milligram</option>
                    <option value="ounce">Ounce</option>
                    <option value="pound">Pound</option>
                </select>
            </div>
        </div>
        <button type="submit">Convert</button>
    </form>
</div>
{% endblock %}